/* Tailwind aktivieren */
@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-lg: 64rem;
  --breakpoint-3xl: 96rem;

  --font-sans: ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --color-brand-300: var(--color-zinc-300);
  --color-brand-400: var(--color-zinc-400);
  --color-brand-500: var(--color-zinc-500);
  --color-brand-600: var(--color-zinc-600);
}

@layer base {
  html {color-scheme: dark; font-family: var(--font-sans);}
  body {@apply bg-neutral-950 text-neutral-100 antialiased;}

  h1 {@apply text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight;}
  h2 {@apply text-2xl md:text-3xl lg:text-4xl font-semibold tracking-tight;}
  h3 {@apply text-xl md:text-2xl font-semibold;}
  h4 { @apply text-lg md:text-xl font-medium; }
  h5 {@apply text-base md:text-lg font-medium;}
  h6 {@apply text-sm md:text-base font-medium;}
  p {@apply text-base leading-relaxed;}

  small {@apply text-sm text-neutral-400;}
  a {@apply underline underline-offset-4 decoration-neutral-400 hover:decoration-neutral-200;}

}

@layer components {

}